@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
* {
	/* This fixes the scrolling "jump". */
	padding: 0;
	margin: 0;
}
body {
	margin: 0 auto;
	padding: 0;
	background: #f4f4f4;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}
h1 {
	width:500px;
	margin: 0 auto;
	font-size:4em;
}
h2 {
	padding: 0 0 60px 0;
}
h1, h2, h3, h4 {
	text-align: center;
	text-shadow: 1px 1px 1px white;
	font-weight: 200;
}
h3 {
	padding: 0 0 0 0;
	font-size:1.5em;
	cursor: pointer;
}
p {
	line-height: 1.8em;
	padding: 15px;
}
ul { padding-left: 50px;}
.section {
	background: #fff;
	opacity: .5;
	padding: 8px;
	margin: 8px;
	-webkit-transition: opacity 1s;
}
.inner {
	padding: 0 0 20px 0;
	margin: 0;
}
.highlight {
	opacity: 1;
	-webkit-transition: opacity 1s;
}
.copy {
	text-align: center;
	/* The huge top margin just makes it so you can scroll a lot to highlight everything */
	margin: 450px 0 70px 0;
}